/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  /* background: url(/assets/paper.jpg); */
  background-color: #a3eef8;
}
.body{
  display: flex;
  align-items: center;
  height: 70%;
  justify-content: center;
}

.home-icon {
  color: wheat;
  font-size: 40px; /* Adjust the size as needed */
}

.navbar {
  color: white;
  padding: 5px ;
  display: flex;
  justify-content: space-between;
}

.navbar-left, .navbar-right, .navbar-center {
  display: flex;
  align-items: center;
}

.mode-btn {
  background-color: #fff;
  border: none;
  margin: 0 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.mode-btn i {
  font-size: 30px;
  margin-right: 5px;
}

.practice-mode.active, .exam-mode.active {
  background-color: green;
  color: white;
}


.logout-btn {
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 17px;
  background-color: purple; 
  color: white; /* White text color */
  transition: background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
}


.home-icon {
  size: 30px;
  color: rgb(28, 185, 237) ;
  text-decoration: none;
}

.container{
  display: flex;
  gap: 10px;
  max-height: 60%;
  width: 100%;
  padding: 0px;
  max-width: 1050px;
}
section{
  background: #fff;
  border-radius: 10pxpx;
}
.tools-board{
  width: 210px;
  max-width: 35%;
  padding: 15px 22px 0;
}

.row .options{
  list-style: none;
  margin: 10px 0 0 5px;
}
.row .options .option{
  display: flex;
  cursor: pointer;
  align-items: center;
  margin-bottom: 10px;
}
.option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
.option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
}
.option #fill-color{
  cursor: pointer;
  height: 14px;
  width: 14px;
}
#fill-color:checked ~ label{
  color: #4A98F7;
}
.option #size-slider{
  width: 100%;
  height: 15px;
}
.colors .options{
  display: flex;
  justify-content: space-around;
}
.colors .option{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.colors .option:nth-child(1){
  background-color: #fff;
  border: 1px solid #bfbfbf;
}
.colors .option:nth-child(2){
  background-color: #000;
}
.colors .option:nth-child(3){
  background-color: #E02020;
}
.colors .option:nth-child(4){
  background-color: #6DD400;
}
.colors .option:nth-child(5){
  background-color: #4A98F7;
}
.colors .option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.colors .option:first-child.selected::before{
  border-color: #ccc;
}
.option #color-picker{
  opacity: 0;
  cursor: pointer;
}
.buttons button{
  width: 100%;
  color: #fff;
  border: none;
  outline: none;
  padding: 11px 0;
  font-size: 0.9rem;
  margin-bottom: 13px;
  background: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttons .clear-canvas{
  color: #6C757D;
  border: 1px solid #6C757D;
  transition: all 0.3s ease;
}
.clear-canvas:hover{
  color: #fff;
  background: #6C757D;
}
.buttons .save-img{
  background: #4A98F7;
  border: 1px solid #4A98F7;
}
.drawing-board{
  flex: 1;
  overflow: hidden;
}
.drawing-board canvas{
  /* border: 2px solid black; */
  border-radius: 15px;
  box-shadow: 0 0 20px 10px #314f31; 
  
  width: 100%;
  height: 100%;
}

#letter{
  font-weight: bold;
  font-size: 250px;
  width: 33%;
  height: 33%;
  justify-content: center;
  display: flex;
}

#buttons {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px; 
  bottom: 0;
}

.button {
  background-color: #007bff; /* Button background color */
  color: white; /* Button text color */
  padding: 10px 20px; /* Button padding */
  border: none;
  border-radius: 5px;
  font-size: 18px; /* Font size */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

.button:hover {
  background-color: green; /* Darker background color on hover */
}

#submitDrawing{
  margin-top: 12px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  justify-content: center;
  background-color: #007bff;
  margin-right: 15px;
  padding: 5px;
  border-radius: 5px;
 
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Set the width of the modal */
  height: auto; /* Remove fixed height */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.modal-header h2 {
  margin-top: 0;
}

.modal-body {
  padding-bottom: 20px; /* Add padding at the bottom */
}

.modal-footer {
  text-align: center;
}

/* Increase button size */
button {
  padding: 10px 20px;
  font-size: 16px;
}

/* Close button style */
#closeModalBtn {
  background-color: #ccc;
  border: none;
  color: #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}